@import url('https://fonts.googleapis.com/css?family=Roboto');

// Navbar
.navbar {
	border: 0;
	border-radius: 0;
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
	.nav li > a, .navbar-brand {
		max-height: 50px;
		width: auto;
		background: transparent !important;
		font-size: 20px;
		transition: 0.2s ease-in-out;
		&:hover{
			background-color: rgba(255,255,255,0.2);
			font-size: 14px;
			.link {
				width: 100%;
				padding: 0 5px 0 5px;
				visibility: visible;
				font-size: 14px;
			}
		}
	}
	.link {
		width: 0;
		font-family: 'Roboto', sans-serif;
		transition: 0.2s ease-in-out;
		visibility: hidden;
		font-size: 0px;
	}
	span {
		color: white;
	}
	.navbar-toggle {
		padding-right: 0;
		.icon-bar {
			background: white;
		}
	}
}

.name {
  text-transform: capitalize;
  font-weight: 300;
}

/*footer*/

footer { width:100%; background: -webkit-linear-gradient(left, #3931af, #00c6ff); padding:10px 0px 25px 0px ;}

footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}

.footer_ul2_amrc li i { margin-top:5px;}


.foote-botton {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	
}
.foote-botton li { display:inline;
}
.foote-botton li a { color: white; margin:0 12px;}

.footer-icon{
	color:white;
}